---
import MainLayout from '../layouts/MainLayout.astro';
import Star3D from '../components/Star3D.astro';
---
<MainLayout activePage="index">
    <h1 class="hero-text">not<br><span class="word-nahid">nah<span class="letter-i"><Star3D />ı</span>d</span></h1>
    
    <div slot="footer-text">
        CURIOUS ABOUT ALMOST EVERYTHING.
        LEARNING, CREATING, AND SHARING
        WHATEVER I'M EXCITED ABOUT.
    </div>
</MainLayout>
